<div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{review.title}}</h5>
    <h6
      class="card-subtitle mb-2 text-body-secondary"
    >{{review.movieTitle}}</h6>
    <p class="card-text">{{review.description}}</p>
    <p>Created On: {{review.createdAt}}</p>

    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-success">
        <a
          href="/reviews/{{review._id}}/edit"
          class="text-white text-decoration-none"
        >Edit</a>
      </button>

      <form
        action="/reviews/{{review._id}}?_method=DELETE"
        method="POST"
        class="mb-0"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>

{{>comments-form}}

{{!-- All comments for this review--}}

<h3>All Comments</h3>
  {{#each comments}}
   <div>
  <div class="card mb-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h6
      class="card-subtitle mb-2 text-body-secondary"
    >{{this.content}}</h6>
      <form
        action="/review/comments/{{this._id}}?_method=DELETE"
        method="POST"
        class="mb-0"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
  {{/each}}
</div>